
POSTGRES_BOOTSTRAP_USER=postgres
POSTGRES_BOOTSTRAP_PASSWORD=change_me_bootstrap_password
POSTGRES_BOOTSTRAP_DB=postgres
POSTGRES_PORT=5432

APP_DB_NAME=mvp_app
APP_DB_USER=mvp_app_user
APP_DB_PASSWORD=change_me_app_password


DATABASE_URL=postgresql://mvp_app_user:change_me_app_password@localhost:5432/mvp_app

# langsmith
LANGSMITH_TRACING_V2=true
LANGSMITH_API_KEY=lsv2_xxxxxxxxxxxxxxxxx
LANGSMITH_PROJECT=agentic-ai-architecture
